apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: capture
  labels:
    app: capture
spec:
  serviceName: capture
  selector:
    matchLabels:
      app: capture
  replicas: 0
  template:
    metadata:
      labels:
        app: capture
    spec:
      serviceAccountName: computer-vision-sa
      volumes:
      - name: video0
        hostPath:
          path: /dev/video0 
      - name: gcp-ksa
        projected:
          defaultMode: 420
          sources:
          - serviceAccountToken:
              path: token
              audience: davec-anthos-next.svc.id.goog
              expirationSeconds: 172800
          - configMap:
              name: computer-vision-sa-config
              optional: false
              items:
                - key: "config"
                  path: "google-application-credentials.json"
      imagePullSecrets:
      - name: regcred
      containers:
      - name: capture
        image: us-west1-docker.pkg.dev/davec-anthos-next/docker/capture:1.43
        securityContext:
          privileged: true
        volumeMounts:
          - mountPath: /dev/video0
            name: video0
          - name: gcp-ksa
            mountPath: /var/run/secrets/tokens/gcp-ksa
            readOnly: true
        env:
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio
              key: accesskey
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: minio
              key: secretkey
        - name: MINIO_HOST
          value: "minio.capture.svc.cluster.local:9000"
        - name: IS_CAPTURING
          value: "true"
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /var/run/secrets/tokens/gcp-ksa/google-application-credentials.json
        - name: APP_VERSION
          value: "1.43"
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 100m
            memory: 100Mi
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - doit-4
---
apiVersion: v1
kind: Service
metadata:
  name: capture-lb
  namespace: capture
spec:
  selector:
    app: capture
  type: LoadBalancer
  ports:
  - name: capture
    protocol: TCP
    port: 80
    targetPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: capture
spec:
  selector:
    app: capture
  type: ClusterIP
  ports:
  - name: capture
    protocol: TCP
    port: 5000
    targetPort: 5000
---
apiVersion: monitoring.googleapis.com/v1
kind: PodMonitoring
metadata:
  name: capture
spec:
  selector:
    matchLabels:
      app: capture
  endpoints:
  - port: 5000
    interval: 30s
    path: /metrics
    scheme: HTTP