apiVersion: apps/v1
kind: Deployment
metadata:
  name: cv
  labels:
    app: cv
spec:
  selector:
    matchLabels:
      app: cv
  replicas: 1
  template:
    metadata:
      labels:
        app: cv
    spec:
      serviceAccountName: computer-vision-sa
      imagePullSecrets:
      - name: regcred
      volumes:
      - name: gcp-ksa
        projected:
          defaultMode: 420
          sources:
          - serviceAccountToken:
              path: token
              audience: davec-anthos-next.svc.id.goog
              expirationSeconds: 172800
          - configMap:
              name: computer-vision-sa-config
              optional: false
              items:
                - key: "config"
                  path: "google-application-credentials.json"
      containers:
      - name: cv
        image: us-west1-docker.pkg.dev/davec-anthos-next/docker/capture:1.62
        volumeMounts:
        - name: gcp-ksa
          mountPath: /var/run/secrets/tokens/gcp-ksa
          readOnly: true
        env:
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio
              key: accesskey
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: minio
              key: secretkey
        - name: MINIO_HOST
          value: "minio.capture.svc.cluster.local:9000"
        - name: IS_CAPTURING
          value: "false"
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /var/run/secrets/tokens/gcp-ksa/google-application-credentials.json
        - name: APP_VERSION
          value: "1.62"
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: "2"
            memory: "4Gi"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - doit-5
---
apiVersion: v1
kind: Service
metadata:
  name: cv
spec:
  selector:
    app: cv
  type: ClusterIP
  ports:
  - name: cv
    protocol: TCP
    port: 5000
    targetPort: 5000
---
kind: ConfigMap
apiVersion: v1
metadata:
  namespace: capture
  name: computer-vision-sa-config
data:
  config: |
    {
      "type": "external_account",
      "audience": "identitynamespace:davec-anthos-next.svc.id.goog:https://gkehub.googleapis.com/projects/davec-anthos-next/locations/global/memberships/doit-edge-next",
      "service_account_impersonation_url": "https://iamcredentials.googleapis.com/v1/projects/-/serviceAccounts/computer-vision-sa@davec-anthos-next.iam.gserviceaccount.com:generateAccessToken",
      "subject_token_type": "urn:ietf:params:oauth:token-type:jwt",
      "token_url": "https://sts.googleapis.com/v1/token",
      "credential_source": {
        "file": "/var/run/secrets/tokens/gcp-ksa/token"
      }
    }
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: computer-vision-sa
  namespace: capture   
automountServiceAccountToken: false
---
apiVersion: monitoring.googleapis.com/v1
kind: PodMonitoring
metadata:
  name: cv
spec:
  selector:
    matchLabels:
      app: cv
  endpoints:
  - port: 5000
    interval: 30s
    path: /metrics
    scheme: HTTP