apiVersion: apps/v1
kind: Deployment
metadata:
  name: cv
  labels:
    app: cv
spec:
  selector:
    matchLabels:
      app: cv
  replicas: 1
  template:
    metadata:
      labels:
        app: cv
    spec:
      imagePullSecrets:
      - name: regcred
      containers:
      - name: cv
        image: us-west1-docker.pkg.dev/davec-anthos-next/docker/capture:1.19
        env:
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio
              key: accesskey
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: minio
              key: secretkey
        - name: MINIO_HOST
          value: "minio.cv.svc.cluster.local:9000"
        - name: LOAD_CAMERA
          value: "false"
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 1000m
            memory: 1000Mi
---
apiVersion: v1
kind: Service
metadata:
  name: cv
  namespace: cv
spec:
  selector:
    app: cv
  type: ClusterIP
  ports:
  - name: cv
    protocol: TCP
    port: 5000
    targetPort: 5000
