apiVersion: apps/v1
kind: Deployment
metadata:
  name: capture
  labels:
    app: capture
spec:
  selector:
    matchLabels:
      app: capture
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: capture
    spec:
      containers:
      - name: capture
        image: us-west1-docker.pkg.dev/davec-anthos-next/docker/capture:1.1
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 100m
            memory: 100Mi
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - doit-4
---
apiVersion: v1
kind: Service
metadata:
  name: capture
  namespace: capture
spec:
  selector:
    app: capture
  type: ClusterIP
  ports:
  - name: capture
    protocol: TCP
    port: 80
    targetPort: 5000